@page "/accounts"
@using BlazorOpenBank.Data.Models
@using BlazorOpenBank.Data.Models.APImodels
@using BlazorOpenBank.Data
@using BlazorOpenBank.Data.Services
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt
@attribute [Authorize]
@inject HttpClient httpclient
@inject ILocalStorageService LocalStorageService
@inject IAccountService AccountService
@inject IStringLocalizer<Resource> localizer

<h1>Accounts</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">AccountId</th>
            <th scope="col">@localizer["CURRENCY"];</th>
            <th scope="col">@localizer["BALANCE"]</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (accounts != null)
        {
            foreach (var account in accounts)
            {
                <tr>
                    <td>@account.AccountId</td>
                    <td>@account.Currency</td>
                    <td>@account.Balance</td>
                    <td style="white-space: nowrap">
                    </td>
                </tr>
            }
        }
        </tbody>
</table>

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <NavLink href="@("/accounts/transfer")" class="btn btn-dark">@localizer["TRANSFERFUNDS"]</NavLink>
                    </div>
                    <div class="col-6">
                        <NavLink href="@("/accounts/checkMovim")" class="btn btn-dark">@localizer["CHECKACCOUNT"]</NavLink>
                    </div>
                </div>
            </div>
            
            
        
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }

    

@code {
    private bool loading;
    private List<Account> accounts;
 

    public Accounts()
    {
    }

    
  

    protected override async Task OnInitializedAsync()
    {
        accounts = await AccountService.GetAllAccounts();
        loading = true;
        loading = false;
    }


  

 
}